<MudIconButton Icon="@Icons.Material.Filled.NotificationsNone" aria-label="NotificationsNone">
    <span class="relative">
        <span class="absolute top-0 right-0 h-2 w-2 bg-red-500 rounded-full"></span>
    </span>
</MudIconButton>